/* h1
{
    font-family: fantasy;
    color: brown;
} */
/* font size px */
/* p
{
    font-size: 16px;
    font-size: 200%;
} */

/* font size % */
/* p
{
    font-size: 200%;
} */

/* default value */
/* p
{
    color: brown;
    font-size: xx-large;
} */

/* font face */
/* @font-face
{
    font-family: 'my-font';
    src: url('./fonts/ArchivoBlack-Regular.ttf');
}
h1
{
    font-family: my-font;
} */


/* font weigth */
/* h1
{
font-weight: lighter;
font-weight: 900;
} */

/* font style */
/* #normal
{
    font-style: normal;
}
#italic
{
    font-style: italic;
}
#oblique
{
    font-style: oblique;
} */

/* text Transform */
/* #upercase
{
    text-transform: uppercase;
}
#lowercase
{
    text-transform: lowercase;
}
#capitilized
{
    text-transform: capitalize;
} */


 /* text decoration */
/* #underline
{
    text-decoration: underline;
}
#overline
{
    text-decoration: overline;
}
#linethrough
{
    text-decoration: line-through;
} */


/* line height */
/* #line-height
{
    line-height: 100px;
} */

/* word spacing */
/* h1
{
word-spacing: 50px;
} */

/* letter spacing */
/* h2
{
letter-spacing: 50px;
} */

/* text align */
/* h1
{
    text-align: center;
}
p
{
    text-align: justify;
} */

/* verticle alignment */
/* img
{
    vertical-align: text-top;
    vertical-align: text-bottom;
    vertical-align: middle;
} */

/* text-indent */
/* p
{
    text-indent: 160px;
    text-align: justify;
} */

/* First Letter line */
/* p::first-line
{
    color: red;
}
p::first-letter
{
    color: red;
} */

/* styling links */
/* a:links
{
color: chocolate;
}
a:visited
{
color:green;
} */

/*Responding to the users */
/* hovers */
/* input.btn:hover{
    background-color: wheat;
}
input.btn:active{
    background-color: violet;
} */
/* input.btn:focus{
background-color: blueviolet;
}
input.text:focus{
    background-color: cadetblue;
} */


/* attribute selectors */
/* existence */
/* h1[name]{
    color: cadetblue;
} */

/* equility */
/* h1[name="Hi"]
{
    color: coral;
} */

/* SPACE */
/* h1[name~='hello']
{
    color: darkblue;
} */

/* Prefix */
/* h1[name^=hel]
{
    color: red;
} */

/* subsstring */
h1[name*='el']
{
    background-color: salmon;
}